body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

.barra-superior {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.barra-superior h1 {
    margin: 0;
    font-size: 24px;
}

.contador {
    font-size: 18px;
    font-weight: bold;
}

.filtros {
    text-align: center;
    margin: 25px 0;
}

.filtros button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.filtros button:hover {
    background-color: #2980b9;
}

#contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    padding: 0 30px;
    margin-bottom: 40px;
}

/* Sistema 3D para el giro */
.tarjeta {
    perspective: 1000px;
    min-height: 260px;
    cursor: pointer;
}

.contenido-tarjeta {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.tarjeta.descubierta .contenido-tarjeta {
    transform: rotateY(180deg);
}

.parte-frontal, .parte-trasera {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
}

/* Cara Frontal Naranja */
.parte-frontal {
    background-color: #e69110;
    color: white;
}

.letra-grande {
    font-size: 6rem;
    font-weight: bold;
}

/* Cara Trasera Blanca */
.parte-trasera {
    background-color: white;
    transform: rotateY(180deg);
}

.palabra-arriba {
    font-size: 14px;
    color: #7f8c8d;
    margin: 0 0 5px 0;
}

.nombre-palabra {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 5px 0 0 0;
}

/* Domar la imagen gigante de la abeja */
.tarjeta img {
    width: 100% !important;
    max-width: 140px !important;
    height: 110px !important;
    object-fit: contain !important;
    border-radius: 8px;
    margin: 10px 0 !important;
    display: block !important;
}

.pie-pagina {
    background-color: #eaeded;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #d5dbdb;
}